@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

@theme {
  --color-secondary: #3b82f6;
  --color-primary: #06b6d4;

  --background-color: #4a5565;
  --text-color: #333333;
  --border-color: #e0e0e0;
}

@layer components {
  .navbar-Button {
    @apply flex items-center px-2 py-1 text-gray-700;
    @apply transition shadow-none duration-1000;
  }
  .navbar-Button:hover {
    @apply text-black border-b-sky-500 border-b-2 bg-gray-100;
    @apply transition shadow-lg duration-300;
  }
}
